Source: ros-indigo-denso-robot-core
Section: misc
Priority: extra
Maintainer: DENSO WAVE INCORPORATED <denso_robot_soft@denso-wave.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-bcap-core, ros-indigo-bcap-service, ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-std-msgs
Homepage: http://ros.org/wiki/denso_robot_core
Standards-Version: 3.9.2

Package: ros-indigo-denso-robot-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-bcap-core, ros-indigo-bcap-service, ros-indigo-message-runtime, ros-indigo-roscpp, ros-indigo-std-msgs
Description: The denso robot core package includes a node for controlling DENSO robot controllers.
